main header > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

main header > div .wrapper {
    display: flex;
    align-items: center;
    background-color: var(--c_container);
    border-radius: var(--d_border_radius);
    padding: 0 25px;
    gap: 10px;

    transition: .25s;

    border: 1px solid transparent;

}

main header > div .wrapper i {
    color: rgba(255, 255, 255, 0.5);
}

main header > div select {
    border: 0;
    outline: none;

    height: 50px;
    padding: 0;

    color: white;

    font-size: 16px;
    background-color: transparent;
    cursor: pointer;

}

main header > div select option {
    color: black;
}

main header > div .wrapper:has(select:hover) {
    border-color: rgba(255, 255, 255, 0.2);
}